In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import inspect

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [4]:
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

## D1: Determine the Summary Statistics for June

In [5]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

#  2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June.
#  3. Convert the June temperatures to a list.
#  4. Create a DataFrame from the list of temperatures for the month of June. 

conn = engine.connect()
measurement_data_df = pd.read_sql('SELECT * from measurement', conn)
# We will first convert the date column from string to date
measurement_data_df['date'] = pd.to_datetime(measurement_data_df['date'], infer_datetime_format=True)
# We will then add a month_of_year column to the df to determine the month of the year
measurement_data_df['month_of_year'] = measurement_data_df['date'].dt.month
# We can then use the loc method to get all June data and create a new Data Frame
measurement_data_june_df = measurement_data_df.loc[measurement_data_df['month_of_year']==6]
measurement_data_june_df.head()

      id      station       date  prcp  tobs  month_of_year
133  134  USC00519397 2010-06-01  0.00  78.0              6
134  135  USC00519397 2010-06-02  0.01  76.0              6
135  136  USC00519397 2010-06-03  0.00  78.0              6
136  137  USC00519397 2010-06-04  0.00  76.0              6
137  138  USC00519397 2010-06-05  0.00  77.0              6

In [11]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
measurement_data_june_df['tobs'].describe()

count    1700.000000
mean       74.944118
std         3.257417
min        64.000000
25%        73.000000
50%        75.000000
75%        77.000000
max        85.000000
Name: tobs, dtype: float64

### CODE RE-WRITTEN USING ORM METHOD

In [18]:
#  2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June
#  3. Convert the June temperatures to a list.
results = session.query(Measurement.date, Measurement.tobs).filter(extract('month',Measurement.date)==6).all()

In [25]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(results, columns=['Date','June Temperature'])
june_df.head()

         Date  June Temperature
0  2010-06-01              78.0
1  2010-06-02              76.0
2  2010-06-03              78.0
3  2010-06-04              76.0
4  2010-06-05              77.0

In [46]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

       June Temperature
count       1700.000000
mean          74.944118
std            3.257417
min           64.000000
25%           73.000000
50%           75.000000
75%           77.000000
max           85.000000

## D2: Determine the Summary Statistics for December

In [28]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
# 7. Convert the December temperatures to a list.
# 8. Create a DataFrame from the list of temperatures for the month of December. 

from sqlalchemy import extract


conn = engine.connect()
measurement_data_df = pd.read_sql('SELECT * from measurement', conn)
measurement_data_df['date'] = pd.to_datetime(measurement_data_df['date'], infer_datetime_format=True)
measurement_data_df['month_of_year'] = measurement_data_df['date'].dt.month
measurement_data_december_df = measurement_data_df.loc[measurement_data_df['month_of_year']==12]
measurement_data_december_df.head()

      id      station       date  prcp  tobs  month_of_year
305  306  USC00519397 2010-12-01  0.04  76.0             12
306  307  USC00519397 2010-12-03  0.00  74.0             12
307  308  USC00519397 2010-12-04  0.00  74.0             12
308  309  USC00519397 2010-12-06  0.00  64.0             12
309  310  USC00519397 2010-12-07  0.00  64.0             12

In [45]:
# 9. Calculate and print out the summary statistics for December temperature DataFrame.
measurement_data_december_df['tobs'].describe()

count    1517.000000
mean       71.041529
std         3.745920
min        56.000000
25%        69.000000
50%        71.000000
75%        74.000000
max        83.000000
Name: tobs, dtype: float64

### CODE RE-WRITTEN USING ORM METHOD

In [38]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
# 7. Convert the December temperatures to a list.
results_dec = session.query(Measurement.date, Measurement.tobs).filter(extract('month',Measurement.date)==12).all()

In [42]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_df = pd.DataFrame(results_dec, columns=['Date','December Temperature'])
december_df.head()

         Date  December Temperature
0  2010-12-01                  76.0
1  2010-12-03                  74.0
2  2010-12-04                  74.0
3  2010-12-06                  64.0
4  2010-12-07                  64.0

In [43]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_df.describe()

       December Temperature
count           1517.000000
mean              71.041529
std                3.745920
min               56.000000
25%               69.000000
50%               71.000000
75%               74.000000
max               83.000000